* {
    font-family: verdana;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.Movie {
    background-color: rgba(88, 88, 88, 0.2);
    margin: 6px 0px;
    padding: 10px;
}